*{
    margin: 0px;
}
body{
	background-color: black;
	font-size: 16px;
	font-family: 'Poppins';
}
main{
    background-image: url(bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
}
#container {
	width: 100%;
	margin: auto;
	display: flex;
	height: 100vh;
	justify-content: center;
}
#learn-to-code-section {
	color: white;
	box-sizing: border-box;
	width: 75%;
}
#part1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
#part2 {
	display: flex;
	align-items: center;
}
p {
	font-weight: 400;
	font-size: 12px;
}
h1 {
	padding-bottom: 30px;
	font-size: 40px;
}
#top {
	background-color: hsl(248, 32%, 49%);
	color: rgb(192, 181, 181);
	padding: 2% 0%;
	border-radius: 8px;
	text-align: center;
}
.another {
	background-color: white;
	color: black;
	margin-top: 20px;
	border-radius: 8px;
}
.frm {
	padding-top: 20px;
	width: 75vh;
	padding-left: 22px;
}

input{
    width: 90%;
}

#submit{
    padding: 6px;
    margin-top: 15px;
    margin-left: 20px;
    background-color: hsl(154, 59%, 51%);
    border-color: hsl(154, 59%, 51%);
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
}
#last {
	padding-top: 8px;
	padding-bottom: 30px;
	padding-left: 68px;
	font-weight: 400;
    font-size: 10px;
    color: rgb(192, 181, 181);
}
.red{
    color: red;
}
.white{
    color: white;
}
#form-wrapper {
	box-sizing: border-box;
	margin-right: 5em;
}
/* 

@media only screen and (max-width: 375px)
main{
    background-image: url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
}
#container {
	width: 50%;
	display: flex;
	height: 50vh;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (min-width: 1440px)
#container {
    width: 100%;
} */